footer {
    position: relative;
    top: 100px;
    width: 100%;
}
.paginator {
    width: 230px;
    margin: 30px auto;
    padding: 10px;
    white-space: nowrap;
    background: #ecf0f1;
}
.paginator a {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #95a5a6;
    margin-right: 20px;
}
.paginator .one {
    margin-left: 30px;
    background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}