nav, article, footer {
    display: block;
}
body {
    font-family: "PT+Sans, sans serif";
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0;
    background-color: lightyellow;
    max-width: 100%;
}
.navbar {
    display: block;
    position: fixed;
    z-index: 200;
    background-color: #ecf0f1;
    width: 100%;
    opacity: 0.8;
}
.my-name {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    
}
.nav-menu {
    display: block;
    float: right;
    width: 50%;
    text-align: center;
}
.tetiana {
   font-size: 1.1em;
   font-weight: bold;
   color: #16a085;
}
.my-email {
    font-style: italic;
    font-size: 0.8em;
    color: blue;
}
.right-menu {
  list-style: none;
}
.right-menu a {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: blue;
}
.right-menu a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.about-me {      /*flex*/
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 170px 0 10px 0;
}
.title {
    font-size: 1.4em;
    width: 250px;
    margin: 0 auto;
    color: black;
    text-align: center;
}
.container-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.my-photo {
    margin: 0 auto;
    text-align: center;
}
img {
    max-width: 60%;
    border-radius: 20%;
    border-color: lightblue;
    border-style: solid;
}
.my-text {
    margin: 20px 0;
    padding: 0px 20px 20px 20px;
    text-align: center;
    font-weight: bold;
}
footer {
    width: 100%;
    clear: both;
    margin-top: 10%;
}
.paginator {
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
    background: #ecf0f1;
    text-align: center;
    margin-bottom:5%;
}
.paginator a {
    display: inline-block;
    min-width: 4%;
    height: 4%;
    padding: 0.4em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #95a5a6;
    box-shadow: 
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    inset rgba(0,0,0,.8) 0 3px 8px -3px;
}
.paginator .one {
    background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}
