body {
    font-family: "PT+Sans, sans serif";
    font-size: 1.4em;
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/pink-star-background.jpeg");
    max-width: 100%;
}
.all-projects {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.title {
    display: block;
    text-align: center;
    color: teal;
    text-shadow: 2px 1px 1px #90ee90;
    margin-top: 8%;
    margin-bottom: 8%;
    clear: both;
    background-image: url("../img/lines-background.jpeg");
    padding: 1px 0;
}
.projects {
    display: block;
    width: 100%;
}
.project-one img {
    float: left;
    width: 35%;
    height: 20%;
    margin-left: 8%;
    text-align: center;
}
.project-two img {
    float: right;
    width: 35%;
    height: 20%;
    margin-right: 8%;
    text-align: center;
}
footer {
    width: 100%;
    clear: both;
    margin-top: 80%;
}
.paginator {
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
    background-image: url("../img/lines-background.jpeg");
    text-align: center;
    margin-bottom:5%;
}
.paginator a {
    display: inline-block;
    min-width: 4%;
    height: 4%;
    padding: 0.4em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #95a5a6;
    box-shadow: 
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    inset rgba(0,0,0,.8) 0 3px 8px -3px;
}
.paginator .one {
    background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}