body {
    font-family: "PT+Sans, sans serif";
    font-size: 1.4em;
    margin: 0 auto;
    padding: 0;
    background-color: lightyellow;
    max-width: 100%;
}
.all-projects {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.title {
    display: block;
    text-align: center;
    color: teal;
    text-shadow: 2px 1px 1px lightgreen;
    margin-top: 8%;
    margin-bottom: 8%;
    clear: both;
}
.projects {
    display: block;
    width: 100%;
}
.project-one img {
    float: left;
    width: 35%;
    height: 20%;
    margin-left: 8%;
    text-align: center;
}
.project-two img {
    float: right;
    width: 35%;
    height: 20%;
    margin-right: 8%;
    text-align: center;
}
footer {
    width: 100%;
    clear: both;
    margin-top: 70%;
}
.paginator {
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
    background: #ecf0f1;
    text-align: center;
    margin-bottom:5%;
}
.paginator a {
    display: inline-block;
    min-width: 4%;
    height: 4%;
    padding: 0.4em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #95a5a6;
}
.paginator .one {
    background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}