body {
    font-family: "PT=sans, sans serif";
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/pink-star-background.jpeg");
    max-width: 100%;
}
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.m-title {
    display: block;
    color: #16a085;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 1px 1px #90ee90;
    padding: 1px 0;
    background-image: url("../img/lines-background.jpeg");
}
.text {
    width: 90%;
    text-align: center;
    display: block;
    margin-top: 35px;
    margin-right: 5%;
    margin-left: 5%;
}
.skills-list {
    width: 100%;
    margin-top: 50px;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: lightgrey;
    text-align: center;
    border-radius: 20px;
    box-shadow: 7px 5px teal;
    font-weight: bold;
}
p {
    padding: 10px 0px;
    margin-bottom: 30px;
}
li:hover {
    background-color: lightgreen;
    border-radius: 20px;
    font-weight: bold;
}
footer {
    width: 100%;
    clear: both;
    margin-top: 15%;
}
.paginator {
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
    background-image: url("../img/lines-background.jpeg");
    text-align: center;
    margin-bottom:5%;
}
.paginator a {
    display: inline-block;
    min-width: 4%;
    height: 4%;
    padding: 0.4em;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #95a5a6;
    box-shadow: 
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    inset rgba(0,0,0,.8) 0 3px 8px -3px;
}
.paginator .one {
    background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}
